# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
pip-log.txt

# Base de donnees
*.db
*.sqlite3

# Exports
data/exports/*
!data/exports/.gitkeep

# IDE
.vscode/settings.json
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
